@model Brand

@{
    ViewData["Title"] = "Edit";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Brands</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-controller="Dashboard" asp-action="Index"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;"><a asp-action="Index">Brands</a> </li>
                    <li class="breadcrumb-item" style="float: left;"><a href="#!">Cari brend`i redaktə etmək</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-block">
                    <h4 class="sub-title">Cari brend`i redaktə etmək</h4>
                    <form method="Post">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label required" asp-for="Name">
                            </label>
                            <div class="col-sm-10">
                                <input class="form-control" placeholder="Brand adını daxil edin" asp-for="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" asp-for="Description">
                            </label>
                            <div class="col-sm-10">
                                <textarea class="form-control" placeholder="Brand üçün qısa qeyd daxil edin" asp-for="Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <input  type="hidden" asp-for="Id"/>
                                <a class="btn btn-info btn-square" asp-action="Index">
                                    Siyahıya qayıt
                                </a>
                                <button class="btn btn-warning btn-square" type="submit">
                                    Redaktə et
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
